h3, li.happy {
    color: red;
    font-size: 60px;
}

body {
    color: green;
    background: url("../picture/furio_header.png");
    background-size: cover;
    text-align: center;
}

body .content {
    border: 2px solid hotpink;
    margin: 50px
}

.border {
    color: aqua;
    border: 1px;
    margin: 2px;
}

.mybox {
    width: 300px;
    height: 300px;
    background: maroon;
    transform: translate(400px, 50px) rotate(30deg);
}

.moveBox {
    width: 300px;
    height: 300px;
    background: pink;
    transition: width 0.5s, background-color 0.5s, border-radius 0.5s;
}

.moveBox:hover {
    width: 100%;
    border-radius: 50%;
    background: palegoldenrod;
}

.animatebox {
    width: 300px;
    height: 300px;
    background: ghostwhite;
    animation-name: example;
    animation-duration: 0.5s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    padding-left: 50px;
}

.animatebox2 {
    width: 300px;
    height: 300px;
    background: ghostwhite;
    animation-name: example2;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

@keyframes example {
    from {
        background-color: ghostwhite;
    }
    to {
        background-color: blueviolet;
    }
}

@keyframes example2 {
    0% {
        width: 300px
    }
    25% {
        width: 600px
    }
    50% {
        width: 900px
    }
    75% {
        width: 1200px
    }
    100% {
        width: 300px
    }
}

table td:nth-child(odd), 
table th:nth-child(odd) {
    background: red;
}
table th:nth-child(even),
table td:nth-child(even) {
    background: blue;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: beige;
}

ul.nav li {
    float: left;
    border-right: 2px solid pink;
}

ul.nav li a {
    color: black;
    padding: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.15s;
}

ul.nav li:last-child {
    border-right: none;
}

ul.nav li a:hover,
ul.nav li a:active {
    background-color: green;
}